.page {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  &__header {
    flex-shrink: 0;
  }

  &__content {
    flex-grow: 1;

    margin-top: rem(120px);
    margin-bottom: rem(100px);
  }

  &__footer {
    flex-shrink: 0;
  }
}