@mixin text-s {
  font-size: rem($font-size-18);
  line-height: rem($line-height-28);
}

@mixin text-m {
  font-size: rem($font-size-16);
  line-height: rem($line-height-24);
}

@mixin text-l {
  font-size: rem($font-size-25);
  line-height: rem($line-height-33);
}

@mixin text-title {
  font-size: rem($font-size-38);
  line-height: rem($line-height-46);
}