@mixin text-s {
  font-size: rem($font-size-16);
  line-height: rem($line-height-24);
}

@mixin text-m {
  font-size: rem($font-size-18);
  line-height: rem($line-height-28);
}

@mixin text-l {
  font-size: rem($font-size-25);
  line-height: rem($line-height-33);
}

@mixin text-title {
  font-size: rem($font-size-38);
  line-height: rem($line-height-46);
}

@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin single-line-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin multiline-text-truncate($lines) {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  white-space: normal;
}