/**
* Colors
*/
$white: #FFFFFF;
$tonysPink: #E48D8B;
$brightGray: #333B4A;
$codGray: #0F0F0F;
$boulder: #757575;
$newYorkPink: #D87775;
$tundora: #464646;
$gallery: #EDEDED;
$azureRadiance: #017CFF;
$anakiwa: #87CDFF;
$chathamsBlue: #194677;
$alto: #DBDBDB;
$silverChalice: #B1B1B1;
$alabaster: #FBFBFB;

$clr-text-pirmary: $codGray;
$clr-text-secondary: $tundora;
$clr-text-inverted: $white;



/**
* Fonts
*/



/**
* Breakpoints 
*/



/**
* Layout
*/



/**
* Size
*/



/**
* Transitions and Animations
*/



/**
* Borders
*/



/**
* Box-shadow
*/



/**
* Z-index
*/